*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1{
    color: white;
}
body{
    background-image: url(photos/background_21.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    height: 218vh;
}
h1{
    margin-top: 10px;
    text-align: center;
}
h5{
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 1rem;
}
canvas{
    position: absolute;
    top: 17%;
    left: 20%;
    width: 60%;
    height: 80%;
    background-color: pink;
}

div{
    margin-top: 100vh;
    height: 100vh;
    visibility:hidden;
}
h2{
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
    font-size: 4rem;
}
body button{
    position: relative;
    top:18%;
    width: 18%;
    font-size: 1.7rem;
    background-color:rgba(12,12,12,1);
    color: white;
}
div button{
    position: relative;
    top:40%;
    left: 40%;
    text-align: center;
    width: 20%;
    height: 10%;
    font-size: 2rem;
}

@media(max-width:600px){
    h1{
        font-size: 1rem;
    }
    h5{
        font-size: 0.5rem;
    }
    h2{
        font-size: 2rem;
    }
    body button{
        font-size: 1rem;
      
    }
}